@charset "UTF-8";
h1, h2, h3, h4 {
  text-align: center;
    color: blue;
}
form {
  text-align: center;
    color: blue;
}
#explore01 {
    font-size: 36px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    text-align: center;
}
label {
    width: 200px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    padding: 4px;
}
#explore02 {
    font-size: 10px;
    font-style: italic;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    text-align: left;
}
#explore03 {
    font-size: 72px;
    font-style: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-align: right;
}
p {
    text-align: justify
}
.logo {
  display: block;
  position: absolute;
  height: auto;
  width: 10%;
  left: 3%;
  top: 1.5%;
}
input {
  font-size: 14px;
  background-color: paleturquoise;
  margin: 1px;
  padding: 5px;
  border-radius: 6px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 95%;
            }